{% extends 'base.html' %}
{% load static %}
{% block content %} 


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Register</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Registration</h6>
                <h1 class="mb-5">Join with us</h1>
            </div>
            <div class="row g-4">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s">

                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.first_name}}
                                    <label for="name">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.last_name}}
                                    <label for="name">Last Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.email}}
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.username}}
                                    <label for="subject">Username</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.password1}}
                                    <label for="subject">Password</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.password2}}
                                    <label for="subject">Confirm Password</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.bio}}
                                    <label for="message">Bio</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.contact_details}}
                                    <label for="message">Contact Details</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    {{form.profile_picture}}
                                    <label for="message">Profile Picture</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 my-4">
                            <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                        </div>
                    </form>
                    <p>ALREADY HAVE AN ACCOUNT? <a href="{% url "account:login" %}" >Login</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    






{% endblock content %}