{% extends "backend-layouts/base.html" %}

{% block title %} Course Category Add {% endblock %}

{% block content %}
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header"> Course Category Add</div>
            <div class="form-card m-4">
              {% if messages %}
              <div class="messages">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
              </div>
              {% endif %}
                <form class="row g-3 needs-validation" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="col-md-4">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="col-md-4">
                        {{ form.instructor.label_tag }}
                        {{ form.instructor }}
                    </div>
                    <div class="col-md-4">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                    </div>
                    <div class="col-md-4">
                        {{ form.price.label_tag }}
                        {{ form.price }}
                    </div>
                    <div class="col-md-4">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                    </div>
                    <div class="col-md-4">
                        {{ form.start_date.label_tag }}
                        {{ form.start_date }}
                    </div>
                    <div class="col-md-4">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                    </div>
                    <div class="col-md-8">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>

                    <div class="col-12 center">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    <!-- Include any additional JavaScript for form handling -->
{% endblock javascripts %}
