{% extends "backend-layouts/base.html" %}

{% block title %} Instructor List {% endblock %}

{% block content %}
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header"> Instructor List</div>
            <table class="table m-4">
                <thead>
                    <tr>
                        <th style ="width:10%">SL</th>
                        <th style ="width:10%">Name</th>
                        <th style ="width:10%">Title</th>
                        <th style ="width:10%">Image</th>
                        <th style ="width:25%">Point</th>
                        <th style ="width:25%">Description</th>
                        <th style ="width:10%">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for common_page_content in common_page_contents %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td> {{common_page_content.name}} </td>
                        <td> {{common_page_content.title}} </td>

                        <td>
                            {% if common_page_content.image %}
                            <img src="{{ common_page_content.image.url }}" alt="Profile Picture" width="50" height="50">
                            {% else %}
                            No picture
                            {% endif %}
                        </td>
                        <td>{{common_page_content.key_point|slice:":30"}}</td>
                        <td>{{common_page_content.description|slice:":30"}}</td>
                        <td>
                              <a class="btn btn-primary" href="{% url "backend_content:common_page_edit" id=common_page_content.id %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                              </a>




                        </td>
                      </tr>
                    
                    {% endfor %}

                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    <!-- Include any additional JavaScript for form handling -->
{% endblock javascripts %}
